
.loader {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #f3f3f3;
    border-top: 4px solid white;
    border-radius: 50%; 
    border-left-color: blue;
    border-right-color: lightgray;
    border-bottom-color:gray ;
    animation: spin 1s linear  changeColors 5s ease-in-out infinite; 
    margin: auto;
    padding: 100px;
 
  }
  
  @keyframes spin {
   
    100% { transform: rotate(360deg); } 
  }
 @keyframes changeColors {
  0% {
    border-left-color: blue;
    border-right-color: lightgray;
    border-bottom-color: gray;
  }
  33% {
    border-left-color: lightgray;
    border-right-color: gray;
    border-bottom-color: blue;
  }
  66% {
    border-left-color: gray;
    border-right-color: blue;
    border-bottom-color: lightgray;
  }
  100% {
    border-left-color: blue;
    border-right-color: lightgray;
    border-bottom-color: gray;
  }
}
  
