  .new-reel {
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
  }
  
  h1 {
    font-family: 'inria sans', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .new-reel form {
    display: flex;
    flex-direction: column;
  }
  
  .new-reel input[type="text"] {
    font-family: 'inria sans', sans-serif;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: calc(100% - 20px);
  }

  .new-reel input[type="file"] {
    font-family: 'inria sans', sans-serif;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: calc(100% - 20px);
  }
  
  .new-reel input[type="file"] {
    cursor: pointer;
  }
  
  .new-reel button {
    font-family: 'inria sans', sans-serif;
    padding: 10px 20px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .new-reel button:hover {
    background-color: #2f80b4;
  }
  
  .new-reel p {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
  }
  