.reel {
  padding: 10px;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.reel-content {
  text-align: center;
  margin-bottom: 10px;
}

.reel p {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  color: #000;
}

.reel img {
  width: 100%;
  display: block;
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}

.user-email {
  font-size: 15px;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info span {
  font-weight: bold;
}

.nav {
  font-size: 15px;
}

#button {
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  font-size: 2em;
  color: #8e8e8e;
}


#button:hover {
  color: #dc3545;
}
