ul {
  background-color: transparent;
  list-style-type: none;
  border: none;
}

li {
  list-style-type: none;
  justify-content: stretch;
}

.reel-item {
  display: flex;
  align-items: center;
}

.like-button-container {
  margin-left: auto;
}

.no-reels {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 17px;
  text-align: center;
}
