.reel {
  padding: 10px;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.reel-content {
  text-align: center;
<<<<<<< HEAD
  margin-bottom: 10px;
=======
  margin-bottom: 10px; 
>>>>>>> d5add22228ceffde77da4c53a61c0e8e3793dd2b
}

.reel p {
  margin: 0;
  padding: 10px;
<<<<<<< HEAD
  font-size: 15px;
=======
>>>>>>> d5add22228ceffde77da4c53a61c0e8e3793dd2b
}

.reel img {
  width: 100%;
  display: block;
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
<<<<<<< HEAD
  justify-content: space-evenly;
}

.user-email {
  font-size: 15px;
=======
 justify-content: space-evenly;
>>>>>>> d5add22228ceffde77da4c53a61c0e8e3793dd2b
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info span {
  font-weight: bold;
}

<<<<<<< HEAD
.nav {
  font-size: 15px;
=======
.timestamp {
  color: #ccc;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
>>>>>>> d5add22228ceffde77da4c53a61c0e8e3793dd2b
}

.reel button {
  background-color: transparent;
  border: 1px solid lightgray;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
<<<<<<< HEAD
  font-size: 1em;
=======
  font-size: 0.9em;
>>>>>>> d5add22228ceffde77da4c53a61c0e8e3793dd2b
  color: #8e8e8e;
}

.reel button:hover {
  color: #dc3545;
}
