  .reel {
    width: 40%;
    max-width: 40%;  
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .reel-content {
    text-align: center;
    margin-bottom: 10px; 
  }
  
  .reel p {
    margin: 0;
    padding: 10px;
  }
  
  .reel img {
    width: 100%;
  }
  
  .user-info {
    font-family: 'inria sans', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .user-info span {
    font-weight: bold;
  }
  
  .timestamp {
    font-family: 'inria sans', sans-serif;
    color: #000;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  .reel button {
    font-family: 'inria sans', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.9em;
    color: #000;
  }
  
  .reel button:hover {
    color: #dc3545;
  }
  
  @media (max-width: 768px) {
    .reel {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }
  }