.home-page-container {
  position: relative;
  display: flex;
  color: black;
  font-size: 0.8em;
  font-family: 'Courier New', Courier, monospace;
}

.left-column {
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  margin: 10px;
}

.instahab-logo {
  width: 210px;
  height: 7vh;
}

.center-column {
  flex: 3;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.right-column {
  flex: 0.5;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
 .counter{
  font: 1em;
 }
 .counter button{
  padding: 20px;
  margin: 20px;
  color: #000;
  background-color: blue;
 }
.logout-button {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 10vw;
  height: 4vh;
  background-color: transparent;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.logout-button:hover {
  background-color: rgb(117, 119, 126);
}

.avatar {
  border-radius: 50%;
  max-width: 100px;
  margin-top: 20px;
}
.likeButton{
  position: relative;
  background-color:gray;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

.likeButton:hover{
background-color: green;
 color: white;
font-weight: bold;
}
.likeButton.active{
background-color: red;
color: white;
font-weight: bold;
}
p .totalLikes{
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .home-page-container {
    flex-direction: column;
  }
}

