.grid-container{
    display: grid;
    grid-template-columns: 4 ;
    grid-template-rows: auto;
    gap: 10px;
  }
  .link-home{
  font-size: 2em;
  grid-row: 0.5; 
  grid-column: 1; 
  padding: 10px;
  margin: 10px;
  color: #000;
  }
  .profile-header {
    grid-row: 2; 
    grid-column: span 1; 
    justify-self:center;
    padding: 10px;
    margin: 10px;
  }
  
  .avatar {
    border-radius: 50%;
    height: 100px; 
    width: 100px; 
  }
  .reels-page{
    display: block;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .profile-section {
      align-items: flex-start; 
    }
  }
  