.gridContainer {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: auto;
  gap: 10px;
  font-family: "Courier New", Courier, monospace;
}

.linkHome {
  position: relative;
  display: inline-block; /* Para que el tamaño del contenedor se ajuste al contenido */
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: 50px; /* Ajusta la altura según sea necesario */
  border-radius: 50%; /* Para hacer que el fondo tenga forma redonda */
  background-color: black; /* Color de fondo del círculo */
  padding: 10px; /* Ajusta el relleno según sea necesario */
}

.linkHome i {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Color del icono */
  font-size: 2em; /* Tamaño del icono */
}


.profileHeader {
  grid-row: 2;
  grid-column: span 1;
  justify-self: center;
  padding: 10px;
  margin: 10px;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.reelsPage {
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profileSection {
    align-items: flex-start;
  }
}
